@page
@model RegisterModel
<div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
   </div>

<br>

<div class="row justify-content-center align-items-center">
    <form class="social-login col-lg-4" id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Регистрация</h1>
        <div style="text-align: center">
            <p>
                @foreach (var provider in Model.ExternalLogins)
                {
                    <button type="submit" class="btn btn-lg btn-@provider.Name.ToLower() btn-block text-uppercase" name="provider" value="@provider.Name"><i class="fab fa-@provider.Name.ToLower() mr-2"></i> @provider.DisplayName</button>
                }
            </p>
            <p style="text-align: center">Или</p>
        </div>
    </form>

</div>
<div class="row justify-content-center align-items-center">
    <form class="form-signin col-lg-4" id="account" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.UserName"></label>
            <input asp-for="Input.UserName" class="form-control" />
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Регистрация</button>
            <a class="btn btn-success btn-block" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Назад</a>
        </div>
    </form>
    <br>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
