@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Успешно сменихте паролата";
}
<div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</div>
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>
        Вашата парола беше сменена. Моля натиснете <a asp-page="./Login">тук</a> за да влезете.
    </p>
</div>

