<div class="ftco-search my-md-5">
    <div class="row">
        <div class="col-md-12 nav-link-wrap">
            <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active mr-md-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Търси Съсед</a>

                <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Услуги</a>

            </div>
        </div>
        <div class="col-md-12 tab-wrap">

            <div class="tab-content p-4" id="v-pills-tabContent">

                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
                    <form action="#" class="search-job">
                        <div class="row no-gutters">
                            <div class="col-md mr-md-2">
                                <div class="form-group">
                                    <div class="form-field">
                                        <div class="icon"><span class="icon-briefcase"></span></div>
                                        <input type="text" class="form-control" placeholder="Потребителско име">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md mr-md-2">
                                <div class="form-group">
                                    <div class="form-field">
                                        <div class="icon"><span class="icon-map-marker"></span></div>
                                        <input type="text" class="form-control" placeholder="Град">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <div class="form-field">
                                        <button type="submit" class="form-control btn btn-primary">Търси</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-performance-tab">
                    <form action="#" class="search-job">
                        <div class="row">
                            <div class="col-md">
                                <div class="form-group">
                                    <div class="form-field">
                                        <div class="icon"><span class="icon-user"></span></div>
                                        <input name="search" type="text" class="form-control" placeholder="Ключова дума">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="category" class="form-control">
                                                <option name="category" value="">Категория</option>
                                                @foreach (var category in Model.Categories)
                                                {
                                                    <option value="@category.Name">@category.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <div class="form-field">
                                        <div class="icon"><span class="icon-map-marker"></span></div>
                                        <input name="city" type="text" class="form-control" placeholder="Град">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <div class="form-field">
                                        <button asp-controller="Announcements" asp-action="Search" type="submit" class="form-control btn btn-primary">Търси</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>