@using NeighbourhoodServices.Data.Models
@model IEnumerable<NeighbourhoodServices.Web.ViewModels.Announcements.AnnouncementCategoriesView>
@{
}

<div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>

</div>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-12 mb-5">

                <form method="post" class="p-5 bg-white">
                    <div class="radio">
                        @{
                            var check = "checked";
                            var serviceTypes = Enum.GetValues(typeof(ServiceType));
                            @foreach (var serviceType in serviceTypes)
                            {
                               
                                <label><input @check type="radio" name="ServiceType" value="@serviceType">@serviceType</label>
                                check =  string.Empty;
                            }
                        }
                    </div>
                    <div class="col-md-12 mb-3 mb-md-0">
                        <input type="text" class="form-control" name="title" placeholder="Тема">
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12"><h3>Тема</h3></div>
                        <div class="col-md-12 mb-3 mb-md-0">
                            <textarea name="description" class="form-control" id="" cols="30" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                    </div>
                    <div class="form-group">
                        <h3>Бюджет</h3>
                        <input type="number" class="form-control" min="0" value ="0" name="price">
                    </div>

                    <div class="row form-group mb-4">
                        <div class="col-md-12">
                            <h3>Място</h3>
                        </div>
                        <div class="col-md-12 mb-3 mb-md-0">
                            <input type="text" class="form-control" name="place" placeholder="Улица, Град">
                        </div>
                    </div>
                    <div class="form-group col-md-4" name="category">
                        <h3>Категория</h3>
                        <select id="inputState" class="form-control" name="category">
                           @foreach (var category in Model)
                            {
                                <option value="@category.Id">@category.Name</option>

                            }
                        </select>
                    </div>


                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Публикувай" asp-controller="Announcements" asp-action="Create" class="btn btn-primary  py-2 px-5">
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</section>





