@model NeighbourhoodServices.Web.ViewModels.Home.IndexViewModel
<div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</div>
@{
    this.ViewData["Title"] = "Admin dashboard";
}
<div class="text-center"><h1>@this.ViewData["Title"]</h1></div>

