@using NeighbourhoodServices.Data.Models
@model List<NeighbourhoodServices.Web.ViewModels.ServiceViewModel>

@foreach (var a in Model)
{
    <h1>@a.Category.Name</h1>
    <h1>@a.Place</h1>
    <h1>@a.Description</h1>
    <h1 >@a.ServiceType;   </h1>
    <h1>a.User.UserName</h1>
    <h1>a.Category</h1>
}



